@media screen and (max-width: 1100px){
	.header_menu_0 img{
		margin-top: 5px;
		margin-left: 5px;
		width: 15%;
	}
	.header_menu_1 li{
		font-size: 18px;
		font-family: 'Gentium Book Basic', serif;
		font-weight: bold;
	}
	.header_menu_1_2 li{
		padding-top: 40px;
		margin-left: 6px;
	}
	.header_menu_1_2 a{
		padding: 37px 0 0 10px;
		margin-left: 25px;
	}
	.header_menu_1_2 a:hover{
		border-top: 3px solid #cbc8be;
	}
	.header_menu_1_3 li{
		padding: 40px 15px 0 0;

	}
	.cont_5_imeg1{
		display: none;
	}
	.cont_5_imeg2{
		margin-left: 30%
	}
	
}
